.BlogCard {
    border: 1px solid var(--text-flame-100);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    /* max-width: 22.375rem; */
    /* 358px */
    width: 100%;
    padding: 0.75rem;
    /* 12px */
    background: linear-gradient(180deg, #FFFFFF 0%, #FEF4EE 100%);
}

.image {
    border-radius: 0.5rem;
    /* 8px */
    display: flex;
    flex-direction: column;
    border: 1px solid transparent;
    height: 210px;
}

.image img {
    border-radius: 0.5rem;
    /* 8px */
    border: 1px solid transparent;
    width: 100%;
    align-self: center;
    height: 100%;
    object-fit: cover;
}

.context {
    display: flex;
    gap: 0.5rem;
    /* 8px */
    margin-top: 1rem;
    /* 16px */
}

.circle {
    color: var(--text-flame-300);
    border: 1px solid var(--text-flame-100);
    border-radius: 2.21875rem;
    /* 35.5px */
    padding: 0.25rem;
    /* 4px */
    width: 2rem;
    /* 32px */
    height: 2rem;
    /* 32px */
    background: var(--text-white-100);
    display: flex;
    justify-content: center;
    align-items: center;
}

.time {
    font-weight: 300;
    font-size: 0.75rem;
    /* 12px */
    line-height: 2%;
    /* Unchanged since it's a percentage */
}

.action {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
    /* 16px */
}

.btns {
    display: flex;
    gap: 1rem;
    /* 16px */
}