.mainContainer {
  padding: 150px 80px 0 80px;
  width: 100%;
}

/* profile container styles */
.profileContainer {
  display: flex;
  flex-direction: column;
  max-width: 620px;
  width: 100%;
  gap: 36px;
  margin: 154px auto;
}

.userInfo {
  display: flex;
  gap: 16px;
  justify-content: start;
  align-items: center;
  height: 75px;
}
.userInfo .imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  min-width: 74px;
  min-height: 75px;
  padding: 7px 8px;
  background-color: var(--blue-light);
}

.imgContainer p {
  font-size: 24px;
  line-height: 32px;
  font-weight: 500;
  letter-spacing: 0;
  color: #00000099;
}

.userInfo .details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 8px;
}
.userInfo .details h3 {
  height: 40px;
}

.userInfo .details p {
  height: 29.34px;
  color: var(--text-black-700);
}

.profileInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 24px;
  width: 100%;
}
.infoCard {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid var(--text-flame-100);
  padding: 24px 18px;
  border-radius: 20px;
  cursor: pointer;
}

.cardLeft {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14.08px;
}

.cardLeft p {
  font-size: 18.78px;
  line-height: 28.17px;
  font-weight: 400;
  letter-spacing: 0.3756px;
  color: var(--text-black-600);
}

@media (max-width: 1024px) {
  .mainContainer {
    padding: 80px 40px 0 40px;
  }

  /* Profile container styles */
  .profileContainer {
    max-width: 500px;
    gap: 32px;
    margin: 76px auto;
  }

  .userInfo .imgContainer {
    min-width: 64px;
    min-height: 64px;
  }

  .userInfo .details {
    gap: 0;
  }
  .userInfo .details h3 {
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0.4px;
    font-weight: 500;
    height: 34px;
  }
  .userInfo .details p {
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.28px;
    font-weight: 300;
    height: 25px;
  }

  .profileInfo {
    gap: 16px;
  }

  .infoCard {
    padding: 20px 16px;
    border: 1px solid var(--text-flame-100);
    border-radius: 16px;
  }

  .cardLeft {
    gap: 12px;
  }

  .cardLeft img {
    width: 24px;
    height: 24px;
  }

  .cardLeft p {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    letter-spacing: 0.32;
  }

  .cardRight img {
    width: 12px;
    height: 24px;
  }
}

/* Mobile Styles */
@media (max-width: 590px) {
  .mainContainer {
    padding: 60px 16px 0 16px;
  }
  /* Profile container styles */
  .profileContainer {
    max-width: 358px;
    gap: 52px;
    margin: 49px auto;
  }
  .userInfo {
    gap: 16px;
  }
}
